Clase 0 de Python.

1. Realizar un hola mundo sencillo.

In [ ]:
print("Hola Mundo")

Hola Mundo

2. Realizar una suma sencilla.

In [ ]:
5 + 3

8

3. Realizar una suma declarando variables.

In [ ]:
x = 5
y = 3
z = x + y
print(z)

8

4. Asignar una variable y una lista.

In [ ]:
x = 7
numeros = [1, 2, 3, 4, 5, 6, 7, 8]
print(numeros)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8]
7

5. Estructura de control "if", tomando en cuenta la variable de x.

In [ ]:
x = 7
if x > 5:
  print("El número es mayor a 5")
else:
  print("El número es menor a 5")

El número es mayor a 5

6. Estructura de control "for" con range 10.

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

7. Remover el número 8 de una lista de numeros.

In [ ]:
numeros.remove(8)
for i in numeros:
  print(i)

1
2
3
4
5
6
7

8. Añadir el número 9 en la lista de números.

In [ ]:
numeros.append(9)

for i in numeros:
  print (i)

1
2
3
4
5
6
7
8
9

9. Declaro el diccionario y los componentes del mismo.

In [ ]:
a = {'nombre': 'Steven', 'edad': 19, 'altura': 1.82}
b = {'nombre': 'Pepe', 'edad': 18, 'altura': 1.80}
x = [a,b]
print(x)

[{'nombre': 'Steven', 'edad': 19, 'altura': 1.82}, {'nombre': 'Pepe', 'edad': 18, 'altura': 1.8}]

10. Hacer un bucle "for" para recorrer el nombre de a y b.

In [ ]:
for i in x:
  print(i['nombre'])

Steven
Pepe

11. Agregar la variable ID.

In [ ]:
a['ID'] = '1755214671'
b['ID'] = '1802029446'
print(a)

{'nombre': 'Steven', 'edad': 19, 'altura': 1.82, 'ID': '1755214671'}